@import '../../../assets/variables';


.on-top {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9;
	height: 100px;
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}.btn{
	border: 1px solid $white-color;
	padding: 0.125rem 0.75rem;
}
.fa-sun{
	color: $white-color !important;
}

.nav-shadow {
	height: 70px;
	box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
@media (max-width: 1000px) {
	.main-navbar {
		.nav-link {
			margin: 0;
			padding: 0.5rem 0.7rem;
		}
	}
}
@media (max-width: 827px) {
	nav .nav {
		display: none;
	}
}
@media (min-width: 827px) {
	.menu-wrapper,
	.menu-responsive {
		display: none;
	}
}
.flag-text {
	color: inherit;
	margin: 0 10px;
	font-size: 13px;
}
#logo {
	color:$white-color;
}
.logo a {
	color: #64ffda;
	width: 42px;
	height: 42px;
	position: relative;
	z-index: 1;
}
.logo a .hex-container {
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.logo a {
	color: #64ffda;
	width: 42px;
	height: 42px;
	position: relative;
	z-index: 1;
}
.logo {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}
.header-main{
	background-color: $dense-light-mode-color !important;
	.btn{
		border: 1px solid $black-color;
	}
}

