.main-section{
  background-color: black;
  width: 100%;
  padding: 150px 0px;
  display: flex;
  align-items: center;
  min-height: 100vh; /* Set a minimum height for the section */
  height: auto;
  // height: 100vh;
}
 .main-section-color{
  background-color: rgb(154, 138, 138) ;
}
.light-font-color{
  color: black !important;
}

svg{
    fill: white;
    height: 16px;
    width: 16px;
    margin: 0px 10px;

}



.social-links {
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
    a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  a:hover{
    background-color: #ed0e55;
    box-shadow: 0px 0px 22px 1px #ed0e55;
  }
  img{
    opacity: 0.6;
  }
  .cv-class{
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 6px;

    &:hover{
      background-color: #ed0e55;
      border-color: #720b2c ;
    box-shadow: 0px 0px 26px 1px #ed0e55;

    }
  }
  .img-class-profile{
   height: 500px;
   width: 450px;
  }
  @media (max-width: 500px) {
    .img-class-profile {
     height: 300px;
     width: fit-content;
    }
  }

  @media (max-width: 992px) {
    .main-section{
      padding: 100px 0px;
    }
    .content-section{
      order: 1;
    }
  }