@import '../../../assets/variables';

.main-section{
  background-color:  $black-color;
  width: 100%;
  padding: 150px 0px;
  display: flex;
  align-items: center;
  min-height: 100vh; /* Set a minimum height for the section */
  height: auto;
  // height: 100vh;
}
 .main-section-color{
  background-color: $light-mode-bg-color;
}
.light-font-color{
  color:  $black-color !important;
}

svg{
    fill: $white-color;
    height: 16px;
    width: 16px;
    margin: 0px 10px;

}



.social-links {
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
    a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: $white-color;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  a:hover{
    background-color: $primary-color;
    box-shadow: 0px 0px 22px 1px $primary-color;
  }
  img{
    opacity: 0.6;
  }
  .cv-class{
    background-color: transparent;
    color: $white-color;
    padding: 10px 20px;
    border: 2px solid $white-color;
    border-radius: 6px;

    &:hover{
      background-color: $primary-color;
      border-color: $dark-primary-color ;
    box-shadow: 0px 0px 26px 1px $primary-color;

    }
  }
  .img-class-profile{
   height: 500px;
   width: 450px;
  }
  @media (max-width: 500px) {
    .img-class-profile {
     height: 300px;
     width: fit-content;
    }
  }

  @media (max-width: 992px) {
    .main-section{
      padding: 100px 0px;
    }
    .content-section{
      order: 1;
    }
  }