.contact{
    background-color: black;
    padding: 150px 0px;
}

span{
  font-size:14px ;
}

.submit-btn{
    background-color: transparent !important;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 6px;

    &:hover{
      background-color: #ed0e55 !important;
      border-color: #720b2c ;
    }
  }
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .success-dialog {
    background: #ed0e55;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .success-dialog i {
    font-size: 48px;
  }
  
  .success-dialog h1 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .success-dialog p {
    font-size: 16px;
  }
  
  .success-dialog button {
    margin-top: 10px;
  }
  