.about{
    padding: 150px 0px;
    background-color: black;
}
.light-bg-color{
    background-color: rgb(154, 138, 138) !important;
}
.light-font-color{
    color: black;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.services{
    padding: 0px 0px 150px 0px;
    background-color: black;
}
.see-details-class{
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 6px;

    &:hover{
      background-color: #720b2c !important;
      border-color: #720b2c ;
    }
  }
  