@import '../../../assets/variables';
.main-section{
  background-color:  $black-color;
  width: 100%;
  padding: 150px 0px;
  display: flex;
  align-items: center;
  min-height: 100vh; /* Set a minimum height for the section */
  height: auto;
  // height: 100vh;
}


.see-details-class{
    background-color: transparent;
    color: $white-color;
    padding: 10px 20px;
    border: 2px solid $white-color;
    border-radius: 6px;

    &:hover{
      background-color: $dark-primary-color !important;
      border-color: $dark-primary-color ;
    }
  }
  .light-bg-light{
    background-color: $light-mode-bg-color!important;

    .light-font-color{
      color:  $light-font-color;
    }
  }