.services{
    padding: 150px 0px;
    background-color: black;
}
.main-section-color{
  background-color:  rgb(154, 138, 138);
}
::ng-deep .light-font-color{
  color: black !important;
}
.see-details-class{
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 6px;

    &:hover{
      background-color: #720b2c !important;
      border-color: #720b2c ;
    }
  }
  