<div id="services" class="services"  [ngClass]="themeMode ?'main-section-color':''">
    <div class="container">

      <div class="section-title"  [ngClass]="themeMode ?'light-font-color':''">
        <h2  [ngClass]="themeMode ?'light-font-color':''">Projects</h2>
        <p  [ngClass]="themeMode ?'light-font-color':''">My Projects</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="icon-box rounded mt-2">
            <img class="img-fluid" src="https://res.cloudinary.com/dj7m5tuv9/image/upload/v1697282800/portfolio%20data/images/ecommerce.png" alt="">
            <h4  [ngClass]="themeMode ?'light-font-color':''" class="mt-3"><a href=""  [ngClass]="themeMode ?'light-font-color':''">Ecommerce-Website</a></h4>
            <p  [ngClass]="themeMode ?'light-font-color':''" class="mb-4">I Made Ecommerce website using Angular. for Design i used bootstrap</p>
            <a  [ngClass]="themeMode ?'light-font-color':''" href="https://ecommece-angular.vercel.app/" target="_blank" class="see-details-class mt-5">See Preview</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 ">
          <div class="icon-box rounded mt-2">
            <img class="img-fluid" src="https://res.cloudinary.com/dj7m5tuv9/image/upload/v1697970857/portfolio%20data/images/foodEasy_profile_tfqpp5.png" alt="">
            <h4  [ngClass]="themeMode ?'light-font-color':''" class="mt-3"><a href=""  [ngClass]="themeMode ?'light-font-color':''">FoodEasy Website Design</a></h4>
            <p  [ngClass]="themeMode ?'light-font-color':''" class="mb-4">I Made FoodEasy Website Design using HTML and CSS for Web programming Subject In BE. </p>
            <a  [ngClass]="themeMode ?'light-font-color':''" href="https://food-easy-wp-sunil-project.vercel.app/" target="_blank" class="see-details-class mt-5">See Preview</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="icon-box rounded mt-2">
            <img class="img-fluid" src="https://res.cloudinary.com/dj7m5tuv9/image/upload/v1698771182/portfolio%20data/images/sunil_portfolio_profile_dj8udk.png" alt="">
            <h4  [ngClass]="themeMode ?'light-font-color':''" class="mt-3"><a href=""  [ngClass]="themeMode ?'light-font-color':''">Personal Portfolio</a></h4>
            <p  [ngClass]="themeMode ?'light-font-color':''" class="mb-4">I Made Personal Portfolio using Angular. for Design i used bootstrap</p>
            <a  [ngClass]="themeMode ?'light-font-color':''" href="https://sunil-sarvaiya-portfolio.vercel.app/" target="_blank" class="see-details-class mt-5">See Preview</a>
          </div>
        </div>

     

      </div>

    </div>
</div><!-- End Services Section -->
